* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.game_view {
    max-width: 144rem;
    height: 100vh;
    margin: 0 auto;
    flex-wrap: wrap;
}

.top {
    width: 100%;
    height: 60%;
    background: green;
    display: inline-grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

.game_info {
    background: #eee;
    box-shadow: 0 2rem 5rem 0 rgba(0, 0, 0, 0.2);
    border-radius: 2rem;
    grid-column: 2/5;
    grid-row: 3/11;
    display: flex;
    flex-direction: column;

}

main>section>article>h2 {
    font-size: 300%;
    display: flex;
    justify-content: center;
    padding-top: 0.5rem;
}

main>section>article>p {
    font-size: 175%;
    padding: 0.5rem;
}

.trailer {
    grid-column: 6/12;
    grid-row: 2/12;
    background: black;
}

video {
    width: 100%;
    height: 100%;
}

.bottom {
    height: 40%;
    background: red;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

.hide{
    display: none;
}

.downloads {
    grid-column: 2/5;
    grid-row: 4/10;
    background: purple;
}

.button {
    font-size: 200%;
    text-decoration: none;
    color: white;
    background-color: blue;
    border-radius: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4rem;
    margin-top: 2rem;
}

.container_img {
    background: yellow;
    grid-column: 6/12;
    grid-row: 3/12;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.game_img {
    width: 100%;
    height: auto;
}