* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

/* body{
    height: 100vh;
} */

/* header */
.header_navigatie {
    background: rgb(152,50,255);
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: center;
}

.container {
    max-width: 144rem;
    width: 100%;
    padding: 2rem;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    margin: 0 auto;
}

/* .mobile_menu {
    display: none;
} */

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 200%;
}

figure.logo,
figure.logo>img {
    width: 10.4rem;
    height: 6rem;
}

nav {
    display: flex;
}

menu {
    display: flex;
    list-style: none;
    font-size: 2rem;
    gap: 2rem;
}

menu li a {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    width: 12rem;
    color: white;
    background: rgb(182,112,243);
    padding: 0.75rem 1rem;
    border-radius: 1.5rem;
}

menu li a:hover {
    background: #5f0bb39b;
    color: black;
}

.log_in{
    color: white;
    font-size: 2rem;
    text-align: center;
    border: none;
    background-color: rgb(182,112,243);
    padding: 0.75rem 1.5rem;
    border-radius: 1.5rem;
}

.log_in:hover {
    color: black;
}

.search_box {
    position: relative;
    height: 4rem;
    width: 60rem;
    top: 1rem;
    z-index: 1;
}

.search_box input {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    padding: 0 2rem;
    border: none;
}

.search_box button {
    width: 6rem;
    height: 100%;
    border-radius: 1rem;
    border: none;
    position: absolute;
    right: 0;
    background: #DFDFDE;
    font-size: 2rem;
    color: rgb(105,35,166);
}

.search_box button:hover{
    cursor: pointer;
}



@media screen and (max-width: 62.5rem) {

    header {
        position: relative;
        width: 100%;
        height: 6rem;
        padding: 1rem;
        display: flex;
        justify-content: center;
    }

    .container {
        max-width: 144rem;
        width: 100%;
        max-height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        margin: 0 auto;
    }

    /* .mobile_menu {
        font-size: 3rem;
        color: white;
    } */

    menu {
        display: flex;
        font-size: 1.75rem;
    }

    menu li a {
        text-decoration: none;
        display: inline-block;
        text-align: center;
        width: 11rem;
        color: white;
        padding: 0.75rem 1.5rem;
    }

    .search_box {
        position: relative;
        height: 4rem;
        width: 30rem;
    }

    .search_box input {
        width: 100%;
        height: 100%;
        border-radius: 1rem;
        padding: 0 2rem;
    }

    .search_box button {
        width: 6rem;
        height: 100%;
        position: absolute;
        right: 0;
    }

}


@media screen and (max-width: 53.125rem) {

    header {
        position: relative;
        padding: 1rem;
    }

    .container {
        max-width: 144rem;
        width: 100%;
        max-height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
        margin: 0 auto;
    }

    main {
        padding-top: 5rem;
        position: relative;
    }

    /* .mobile_menu {
        display: flex;
    } */

    .search_box {
        width: 100%;
        top: 8.5rem;
        position: absolute;
        left: 0%;
    }

    .nav_header {
        display: block;
    }

    .nav_items{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .search_box input {
        width: 100%;
        height: 100%;
        border-radius: 1rem;
        padding: 0 2rem;
    }

    .search_box button {
        width: 6rem;
        height: 100%;
        border-radius: 1rem;
        position: absolute;
        right: 0;
    }

    menu {
        display: block;
    }

    .inloggen {
        color: white;
        font-size: 2rem;
        text-align: center;
        padding: 0.75rem 1.5rem;
        border-radius: 1.5rem;
        margin: 0;
    }

}

@media screen and (max-width: 33.125rem){
    /* 530 */
    main{
        padding-top: 10rem;
        position: relative;
    }

    .search_box input {
        position: absolute;
        top: 5rem;
    }

    .search_box button {
        top: 5rem;
    }

    .nav_items {
        display: flex;
        position: absolute;
        z-index: 2;
        top: 6.8rem;
        left: 10%;
        gap: 15rem;
    }

    menu li a{
        width: 200%;
        gap: 2rem;
    }
}

@media screen and (max-width: 28.125rem){
    .nav_items {
        display: flex;
        position: absolute;
        z-index: 2;
        top: 6.8rem;
        left: 10%;
        gap: 15rem;
    }

    menu li a{
        width: 200%;
        gap: 2rem;
    }
}

@media screen and (max-width: 31.25rem){
    .nav_items {
        display: flex;
        position: absolute;
        z-index: 2;
        top: 6.8rem;
        left: 10%;
        gap: 10rem;
    }

    menu li a{
        width: 180%;
    }
}

@media screen and (max-width: 26.875rem){
    /* 430 */
    main{
        padding-top: 10rem;
        position: relative;
    }

    .search_box input {
        position: absolute;
        top: 5rem;
    }

    .search_box button {
        top: 5rem;
    }

    .nav_items {
        display: flex;
        position: absolute;
        justify-content: space-around;
        z-index: 2;
        left: 14%;
        gap: 8rem;
    }

    menu li a{
        width: 150%;
    }
}


