* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
}

/* body{
    height: 100vh;
} */

/* header */
header {
    flex-grow: 1;
    /* pakt alle overige ruimte */
}

.logo {
    margin: 0 5rem;
    height: 5rem;
}

header .search_box {
    flex: 1;
    position: relative;
}

nav {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    box-shadow: 0 0 1rem #000;
    background: rgba(255, 0, 0, 0.5);
}

header nav ul {
    flex: 2;
    display: flex;
    justify-content: space-evenly;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    margin: 1rem 1.5rem;
}

header nav ul li a:hover {
    color: black;
}

menu {
    font-size: 2rem;
    display: none;
}

.search_box input {
    width: 100%;
    height: 4rem;
    border: none;
    outline: none;
    border-radius: 3rem;
    font-size: 2rem;
    text-align: center;
    padding: 0.5rem;
}

.search_box button {
    cursor: pointer;
    width: 15%;
    height: 100%;
    border-radius: 3rem;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
}

.signUp {
    margin: 0 5rem;
}

.signUp>button {
    font-size: 2rem;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
}

/* fotoslider */
.fotoslider {
    margin: 0;
    padding: 0;
    background: red;
    height: calc(100vh - 10vh);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slides {
    width: 400%;
    height: 50rem;
    display: flex;
    flex-wrap: nowrap;
    flex-grow: 1;
}

.slides input {
    display: none;
}

.slide {
    width: 100%;
    transition: 2s;
    height: 40rem;
    background-size: cover;
}

/* .foto {
    max-width: 100%;
    height: auto;
} */

/* css voor manual slide navigatie */
.navigatie_manual {
    position: absolute;
    width: 100%;
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

.manual_btn {
    border: 0.5rem solid green;
    padding: 0.5rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: 1s;
}

.manual_btn:not(:last-child) {
    margin-right: 4rem;
}

.manual_btn:hover {
    background: red;
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -25%;
}

#radio3:checked~.first {
    margin-left: -50%;
}

#radio4:checked~.first {
    margin-left: -75%
}

/* css voor automatische navigatie */
/* .navigatie_auto{
    position: absolute;
    width: 100%;
    margin-top: 15%;
    display: flex;
    justify-content: center;
} */

.navigatie_auto nav {
    border: 0.5rem solid green;
    padding: 0.5rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: 1s;
}

.navigatie_auto nav:not(:last-child) {
    margin: 4rem;
}

#radio1:checked~.navigatie_auto .auto_btn1 {
    background: blue;
}

#radio2:checked~.navigatie_auto .auto_btn2 {
    background: blue;
}

#radio3:checked~.navigatie_auto .auto_btn3 {
    background: blue;
}

#radio4:checked~.navigatie_auto .auto_btn4 {
    background: blue;
}